<div class= "small-container center-block">

  <h1>Editing Category</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'mostar', @category %> |
  <%= link_to 'Atras', categories_path %>
  </div>
