<div class= "large-container center-block">

<h1 style = "color:white; background-color:blue;max-width:500px"> 
Articulos publicados en: <%= @category.title %></h1>

<%= render @category.articles %>  
</div>